.cart {
  .cart-header {
    text-align: center;
    margin-top: 100px;
  }

  .cart-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

    .cart-empty {
      margin-top: 100px;
      display: flex;
      justify-content: center;
    }

    .cart-card {
      width: 60%;
      display: flex;
      align-items: center;

      &:first-child {
        border-top: 1px solid #e4e2e2;
      }

      &:last-child {
        border-bottom: 1px solid #e4e2e2;
      }

      .cart-left-col {
        width: 42%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;

        .cart-img {
          img {
            height: 150px;
          }
        }

        .cart-details {
          .cart-name {
            font-weight: 400;
          }

          .cart-price-original {
            padding-top: 5px;
            font-size: 15px;
            color: #808080;
            font-weight: 600;
          }
        }
      }

      .cart-right-col {
        width: 58%;
        display: flex;
        justify-content: space-around;

        .left-col {
          display: flex;

          .minus-btn,
          .add-btn {
            width: 3rem;
            color: #808080;

            &:hover {
              cursor: pointer;
            }
          }

          .quantity {
            width: 2rem;
            display: flex;
            justify-content: center;
            font-weight: 600;
          }

          .add-btn {
            display: flex;
            justify-content: flex-end;
          }
        }

        .right-col {
          display: flex;
          align-items: center;

          .cart-price {
            font-weight: 600;
            padding-right: 20px;
          }

          .delete-btn {
            color: #808080;
            border: none;

            &:focus {
              outline: none;
            }

            &:hover {
              cursor: pointer;
              color: red;
            }
          }
        }
      }
    }

    .cart-summary {
      width: 60%;
      border-top: 1px solid #e4e2e2;
      margin-top: 20px;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .cart-summary-card {
        width: 40%;

        .cart-summary-header {
          font-size: 18px;
          font-weight: 600;
          text-align: center;
        }

        .cart-summary-details {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .cart-summary-left-col,
          .cart-summary-right-col {
            width: 50%;
            margin: 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          .cart-summary-right-col {
            font-weight: 600;
          }
        }

        .cashout-link {
          display: flex;
          justify-content: center;
          margin-top: 10px;
          text-decoration: none;

          &:hover {
            cursor: pointer;
          }

          .cod-btn {
            background-color: #5c2292;
            color: white;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .cart {
    .cart-card-container {
      .cart-card {
        width: 100%;

        &:first-child {
          border-top: none;
        }

        &:last-child {
          border-bottom: none;
        }

        .cart-left-col {
          width: 45%;
          flex-direction: column;
        }

        .cart-right-col {
          width: 55%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 200px;

          .left-col {
            display: flex;
            justify-content: center;
            padding-bottom: 10px;
          }

          .right-col {
            display: flex;
            align-items: center;
          }
        }
      }

      .cart-summary {
        width: 100%;

        .cart-summary-card {
          width: 80%;
        }
      }
    }
  }
}
