.products-wrapper {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;

  .card-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .loading {
      width: 100%;
      height: 80vh;
      display: flex;
      align-items: center;
    }

    .card {
      min-width: 300px;
      margin: 20px;
      margin-top: 30px;

      .content {
        .add-to-cart {
          padding-bottom: 25px;

          .add-to-cart-btn {
            text-transform: uppercase;
            padding: 10px 40px;
            font-size: 12px;
            background-color: white;
            border: 1px solid gray;

            &:hover {
              background-color: #131313;
              color: white;
              cursor: pointer;
            }
          }
        }
      }

      .product-details {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
      }
    }
  }

  .empty {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .products-wrapper {
    .card-container {
      width: 100%;

      .card {
        width: 145px;
        min-width: 135px;
        margin: 10px;

        img {
          height: 25px;
        }

        .content {
          .add-to-cart {
            padding-bottom: 18px;

            .add-to-cart-btn {
              padding: 5px;
            }
          }
        }

        .product-details {
          flex-direction: column;
          margin-top: 5px;
        }
      }
    }
  }
}
