.navbar-search {
  position: relative;
  border-radius: 5px;
  background-color: #a7b2f0;

  &:hover {
    background-color: #99a7f7;
  }

  .search-icon {
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    padding-left: 5px;
    color: #d4d8f3;
  }

  .search-input {
    .MuiInputBase-root {
      color: inherit;
    }
    .MuiInputBase-input {
      padding: 8px;
      padding-left: 30px;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .navbar-search {
    margin: 0 5px;
  }
}
